Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

*.log
path.txt

__pycache__/
*.pyc
*.pyo


.DS_Store
Thumbs.db
*~